* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #912a36;
}
.login-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7F8F9;
    margin: 30px;
    border-radius: 30px;
}
.left-side {

    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.login-details {
    padding-top: 90px;

}

.hello {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 2.3rem;
}

.login-detail-1 h3 {
    text-align: center;
}
.p-recovery {
    text-align: right;
    width: 50%;
    margin: auto;
}
.login-detail-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-detail-1 input {
    display: block;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
}
.login-detail-1 input:focus {
    outline: 2px solid #986472;
}


.login-detail-1 h3,
input {
    margin-bottom: 15px;
}

.login-details .p-recovery {
    font-size: 0.7rem;
    margin-left: 270px;
    margin-top: 10px;
    color: #999999;
    font-weight: 700;
}
.login-details button{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    margin-top: 28px;
    background-color:  #986472;
    color: white;
    font-weight: 700;
}
.p-continue{
    color: #999999;
    font-weight: 700;
    margin-top: 38px;    
}
.icon{
    margin-top: 20px;
    margin-left: 30px;
}
.icon img{
    height: 40px;
    margin-right: 35px;
}
.main-image img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
@media (max-width: 768px) {

    .login-page {
        grid-template-columns: 1fr;
        margin: 15px;
    }

    .main-image {
        display: none;
    }

    .login-detail-1 input,
    .login-details button {
        width: 90%;
    }

    .login-details {
        padding-top: 40px;
    }

    .p-recovery {
        width: 90%;
        text-align: right;
    }
}
